<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
<title>index</title>
</head>
<body>
	 <div class="container">
	 	<nav class="navbar navbar-inverse">
	 		<div class="container-fluid">
	 			<div class="navbar-header">
	 				<a href="#">restroo</a>
	 			</div>
	 			<ul class="nav navbar-nav">
	 				<li><a th:href="@{/view/home}">Home</a></li>
	 				<li><a th:href="@{/view/onlineOrder}">Online Order </a></li>
	 				<li><a href="#">Contact</a></li>
	 				<li><a href="#">Portfa</a></li>
	 			</ul>
	 		</div>
	 	</nav>
	 	
   </div>
</body>
</html>